<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!is_editing">
  <h4 id="location_header" class="card-header">Current locations</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Country</th>
        <th>City</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
      </thead>
      <tbody *ngIf="locations.length===0">
      <tr>
        <td>No locations yet!</td>
      </tr>
      </tbody>

      <tbody *ngIf="!is_editing">
      <tr *ngFor="let location of locations">
        <td>{{ location.country }}</td>
        <td>{{ location.city }}</td>
        <td>{{ location.name }}</td>
        <td>{{ location.description }}</td>
        <td><a type="button" [routerLink]="['/location_ratio', location.id]">Rating</a></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>


<div class="card" *ngIf="!is_editing && this.auth.logged_in">
  <h4 class="card-header">Add new location</h4>
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="location_form" (ngSubmit)="add_location()">
      <div class="form-group row">
        <div class="col-md-3">
          <label for="country">Country:</label>
          <input id="country" name="country" type="text" class="form-control mr-2" formControlName="country">
        </div>
        <div class="col-md-3">
          <label for="city">City:</label>
          <input id="city" name="city" type="text" class="form-control mr-2" formControlName="city">
        </div>
        <div class="col-md-3">
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" class="form-control mr-2" formControlName="name">
        </div>
      </div>
      <br/>
      <div class="form-group row align-bottom">
        <div class="col-md-6">
          <label for="description">Name:</label>
          <textarea id="description" type="text" class="form-control mr-2" formControlName="description"></textarea>
        </div>
        <div class="form-group col-md-3 align-self-end">
          <button id="add" class="btn btn-primary " type="submit" [disabled]="!location_form.valid">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
